<div>
  <h1>Editing Book</h1>
  <div class="error_message">
    <% if @book.errors.any? %>
      <%= @book.errors.count %>errors prohibited this obj from being saved:
      <%= @book.errors.full_messages.each do |error_message| %>
        <li><%= error_message %></li>
      <% end %>
    <% end %>
  </div>
  <%= form_with model: @book, local: true do |f| %>
  <p>Title</p>
  <%= f.text_field :title, class:"w-100" %>
  <p>Opinion</p>
  <%= f.text_area :body, class:"w-100" %>
  <div>
    <%= f.submit "Update Book"%>
  </div>
  <% end %>
  <%= link_to "Show", book_path(@book) %>
  <span>|</span>
  <%= link_to "Back", books_path %>
</div>